body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.hourInput{
  width: 230px;
}

.minuteInput{
  width: 230px;
}

.timeInput{
  width: 100%;
  font-weight: bold;
  font-size: 200px;
}

.alarmList {
  padding-right: 0px;
  padding-left: 0px;
}

.alarmBody {
  width: 100%;
  text-align: center;
  font-size: 30pt;
}
